<!DOCTYPE html>
<html>
  <head>
    <title>报价单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/报价单/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/报价单/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u0" class="ax_default box_2">
        <div id="u0_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2" class="ax_default box_2">
        <div id="u2_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4" class="ax_default box_2">
        <div id="u4_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u5" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u6" class="ax_default box_2">
        <div id="u6_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u7" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8" class="ax_default label">
        <div id="u8_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9" class="text" style="visibility: visible;">
          <p><span>报价编号： BJD-0001&nbsp; &nbsp; &nbsp;&nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10" class="ax_default label">
        <div id="u10_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11" class="text" style="visibility: visible;">
          <p><span>线路名称： 西安北线二日游（旺季）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12" class="ax_default label">
        <div id="u12_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u13" class="text" style="visibility: visible;">
          <p style="font-size:14px;"><span>&nbsp; 档位&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 名称&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 报价&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 说明</span></p><p style="font-size:14px;"><span>&nbsp;</span></p><p style="font-size:14px;"><span>1档报价&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 成人&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 270&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 默认</span></p><p style="font-size:14px;"><span><br></span></p><p style="font-size:14px;"><span>2档报价&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 车住&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 160&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p><p style="font-size:14px;"><span><br></span></p><p style="font-size:14px;"><span>3档报价&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 车费&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 130</span></p><p style="font-size:14px;"><span><br></span></p><p style="font-size:13px;"><span>+新增档位</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u14" class="ax_default label">
        <div id="u14_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15" class="text" style="visibility: visible;">
          <p><span>参考报价：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16" class="ax_default label">
        <div id="u16_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u17" class="text" style="visibility: visible;">
          <p><span>详细报价：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u18" class="ax_default _文本">
        <div id="u18_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u19" class="text" style="visibility: visible;">
          <p><span>D1：黄帝陵91、壶口瀑布100</span></p><p><span>D2：枣园、王家坪讲解已含</span></p><p><span>赠送：清凉山（门票价值45元）</span></p><p><span>★壶口斗鼓、跑旱船、信天游、唢呐锣鼓等陕北非物质文化遗产。 </span></p><p><span>★北京知青旧居穿着红军服切身体验知青生活</span></p><p><span>★南泥湾、1938主题美食街区</span></p><p><span>===================================================================</span></p><p><span>备注：</span></p><p><span>1.以上报价均不含餐，如需含餐正餐标准为：西线团餐30元/人，东线自助餐38元/人，华山自助餐38元/人，</span></p><p><span>&nbsp;&nbsp;&nbsp; 北线早餐10元/人、正餐30元/人。</span></p><p><span>2.马俑电瓶车5元/人，骊山电瓶车16元/人，法门寺电瓶车30元/人，黄帝陵电瓶车20元/人。</span></p><p><span>3.提供接送高铁20元/人/趟。（上午10.00-晚上20.00之间）接高铁提前一天报人 </span></p><p><span>4.接送飞机4人以下（含4人）120元/趟4人以上（不含4人）30元/人/趟，接高铁提前一天报人</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u20" class="ax_default label">
        <div id="u20_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u21" class="text" style="visibility: visible;">
          <p><span>报价备注：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u22" class="ax_default text_field">
        <input id="u22_input" type="text" value="本地报价，康辉，李哥"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u23" class="ax_default primary_button">
        <div id="u23_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u24" class="text" style="visibility: visible;">
          <p><span>保存</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
