<!DOCTYPE html>
<html>
  <head>
    <title>游客详情信息（组团）</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/游客详情信息（组团）/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/游客详情信息（组团）/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u442" class="ax_default box_2">
        <div id="u442_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u443" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u444" class="ax_default">

        <!-- Unnamed (表格单元) -->
        <div id="u445" class="ax_default table_cell">
          <img id="u445_img" class="img " src="images/游客详情信息（组团）/u445.png"/>
          <!-- Unnamed () -->
          <div id="u446" class="text" style="visibility: visible;">
            <p><span>组团名称</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u447" class="ax_default table_cell">
          <img id="u447_img" class="img " src="images/出团申请单（组团）/u388.png"/>
          <!-- Unnamed () -->
          <div id="u448" class="text" style="visibility: visible;">
            <p><span>参考报价</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u449" class="ax_default table_cell">
          <img id="u449_img" class="img " src="images/出团申请单（组团）/u388.png"/>
          <!-- Unnamed () -->
          <div id="u450" class="text" style="visibility: visible;">
            <p><span>人数</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u451" class="ax_default table_cell">
          <img id="u451_img" class="img " src="images/出团申请单（组团）/u392.png"/>
          <!-- Unnamed () -->
          <div id="u452" class="text" style="visibility: visible;">
            <p><span>总价</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u453" class="ax_default table_cell">
          <img id="u453_img" class="img " src="images/出团申请单（组团）/u394.png"/>
          <!-- Unnamed () -->
          <div id="u454" class="text" style="visibility: visible;">
            <p><span>修正金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u455" class="ax_default table_cell">
          <img id="u455_img" class="img " src="images/出团申请单（组团）/u396.png"/>
          <!-- Unnamed () -->
          <div id="u456" class="text" style="visibility: visible;">
            <p><span>最终报价</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u457" class="ax_default table_cell">
          <img id="u457_img" class="img " src="images/游客详情信息（组团）/u457.png"/>
          <!-- Unnamed () -->
          <div id="u458" class="text" style="visibility: visible;">
            <p><span>报价修正备注</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u459" class="ax_default table_cell">
          <img id="u459_img" class="img " src="images/游客详情信息（组团）/u459.png"/>
          <!-- Unnamed () -->
          <div id="u460" class="text" style="visibility: visible;">
            <p><span>调拨报价</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u461" class="ax_default table_cell">
          <img id="u461_img" class="img " src="images/游客详情信息（组团）/u459.png"/>
          <!-- Unnamed () -->
          <div id="u462" class="text" style="visibility: visible;">
            <p><span>调拨社团</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u463" class="ax_default table_cell">
          <img id="u463_img" class="img " src="images/游客详情信息（组团）/u459.png"/>
          <!-- Unnamed () -->
          <div id="u464" class="text" style="visibility: visible;">
            <p><span>调拨备注</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u465" class="ax_default table_cell">
          <img id="u465_img" class="img " src="images/游客详情信息（组团）/u465.png"/>
          <!-- Unnamed () -->
          <div id="u466" class="text" style="visibility: visible;">
            <p><span>代收金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u467" class="ax_default table_cell">
          <img id="u467_img" class="img " src="images/游客详情信息（组团）/u467.png"/>
          <!-- Unnamed () -->
          <div id="u468" class="text" style="visibility: visible;">
            <p><span>代收备注</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u469" class="ax_default table_cell">
          <img id="u469_img" class="img " src="images/游客详情信息（组团）/u445.png"/>
          <!-- Unnamed () -->
          <div id="u470" class="text" style="visibility: visible;">
            <p><span>一团</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u471" class="ax_default table_cell">
          <img id="u471_img" class="img " src="images/出团申请单（组团）/u388.png"/>
          <!-- Unnamed () -->
          <div id="u472" class="text" style="visibility: visible;">
            <p><span>成人：270</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u473" class="ax_default table_cell">
          <img id="u473_img" class="img " src="images/出团申请单（组团）/u388.png"/>
          <!-- Unnamed () -->
          <div id="u474" class="text" style="visibility: visible;">
            <p><span>10</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u475" class="ax_default table_cell">
          <img id="u475_img" class="img " src="images/出团申请单（组团）/u392.png"/>
          <!-- Unnamed () -->
          <div id="u476" class="text" style="visibility: visible;">
            <p><span>2700</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u477" class="ax_default table_cell">
          <img id="u477_img" class="img " src="images/出团申请单（组团）/u394.png"/>
          <!-- Unnamed () -->
          <div id="u478" class="text" style="visibility: visible;">
            <p><span>+100</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u479" class="ax_default table_cell">
          <img id="u479_img" class="img " src="images/出团申请单（组团）/u396.png"/>
          <!-- Unnamed () -->
          <div id="u480" class="text" style="visibility: visible;">
            <p><span>2800</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u481" class="ax_default table_cell">
          <img id="u481_img" class="img " src="images/游客详情信息（组团）/u457.png"/>
          <!-- Unnamed () -->
          <div id="u482" class="text" style="visibility: visible;">
            <p><span>含餐</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u483" class="ax_default table_cell">
          <img id="u483_img" class="img " src="images/游客详情信息（组团）/u459.png"/>
          <!-- Unnamed () -->
          <div id="u484" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u485" class="ax_default table_cell">
          <img id="u485_img" class="img " src="images/游客详情信息（组团）/u459.png"/>
          <!-- Unnamed () -->
          <div id="u486" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u487" class="ax_default table_cell">
          <img id="u487_img" class="img " src="images/游客详情信息（组团）/u459.png"/>
          <!-- Unnamed () -->
          <div id="u488" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u489" class="ax_default table_cell">
          <img id="u489_img" class="img " src="images/游客详情信息（组团）/u465.png"/>
          <!-- Unnamed () -->
          <div id="u490" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u491" class="ax_default table_cell">
          <img id="u491_img" class="img " src="images/游客详情信息（组团）/u467.png"/>
          <!-- Unnamed () -->
          <div id="u492" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u493" class="ax_default table_cell">
          <img id="u493_img" class="img " src="images/游客详情信息（组团）/u493.png"/>
          <!-- Unnamed () -->
          <div id="u494" class="text" style="visibility: visible;">
            <p><span>二团</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u495" class="ax_default table_cell">
          <img id="u495_img" class="img " src="images/出团申请单（组团）/u402.png"/>
          <!-- Unnamed () -->
          <div id="u496" class="text" style="visibility: visible;">
            <p><span>车住：160</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u497" class="ax_default table_cell">
          <img id="u497_img" class="img " src="images/出团申请单（组团）/u402.png"/>
          <!-- Unnamed () -->
          <div id="u498" class="text" style="visibility: visible;">
            <p><span>5</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u499" class="ax_default table_cell">
          <img id="u499_img" class="img " src="images/出团申请单（组团）/u406.png"/>
          <!-- Unnamed () -->
          <div id="u500" class="text" style="visibility: visible;">
            <p><span>800</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u501" class="ax_default table_cell">
          <img id="u501_img" class="img " src="images/出团申请单（组团）/u408.png"/>
          <!-- Unnamed () -->
          <div id="u502" class="text" style="visibility: visible;">
            <p><span>+150</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u503" class="ax_default table_cell">
          <img id="u503_img" class="img " src="images/出团申请单（组团）/u410.png"/>
          <!-- Unnamed () -->
          <div id="u504" class="text" style="visibility: visible;">
            <p><span>950</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u505" class="ax_default table_cell">
          <img id="u505_img" class="img " src="images/游客详情信息（组团）/u505.png"/>
          <!-- Unnamed () -->
          <div id="u506" class="text" style="visibility: visible;">
            <p><span>法门寺电瓶车</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u507" class="ax_default table_cell">
          <img id="u507_img" class="img " src="images/游客详情信息（组团）/u507.png"/>
          <!-- Unnamed () -->
          <div id="u508" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u509" class="ax_default table_cell">
          <img id="u509_img" class="img " src="images/游客详情信息（组团）/u507.png"/>
          <!-- Unnamed () -->
          <div id="u510" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u511" class="ax_default table_cell">
          <img id="u511_img" class="img " src="images/游客详情信息（组团）/u507.png"/>
          <!-- Unnamed () -->
          <div id="u512" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u513" class="ax_default table_cell">
          <img id="u513_img" class="img " src="images/游客详情信息（组团）/u513.png"/>
          <!-- Unnamed () -->
          <div id="u514" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u515" class="ax_default table_cell">
          <img id="u515_img" class="img " src="images/游客详情信息（组团）/u515.png"/>
          <!-- Unnamed () -->
          <div id="u516" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u517" class="ax_default label">
        <div id="u517_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u518" class="text" style="visibility: visible;">
          <p><span>游客信息</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
